.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .5rem;
}

.container > label{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: .5rem;
}

.container > select{
  width: 250px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  background: #fff;
  cursor: pointer;
}



.error{
  font-size: 14px;
  color: #ff0000;
}