form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  width: 280px;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .5rem;
}

.container > label{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: .5rem;
}

.optional{
  font-size: 14px;
  font-weight: 500;
}

.container > select{
  width: 250px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  background: #fff;
  cursor: pointer;
}

button{
  margin: .5rem;
  width: 100px;
  background: #0000ff;
  color: #fff;
  height: 30px;
  border-radius: 5px;
}

button:disabled{
  color: cadetblue;
  background: #222;

}

.error{
  font-size: 14px;
  color: #ff0000;
}